{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
    <div class="isBest">
        <h2>Nos meilleurs ventes</h2>
        <p>Découvrez les plats les plus apprécié de notre clientèle.</p>
    </div>
    <div class="row" >
    {% for menu in menus %}
        <div class="col-md-3">
            {% include'menu/single_menu.html.twig' %}
        </div>
    {% endfor %}

    </div><!-- /.row -->



    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="img-featurette img-fluid mx-auto" src="{{ asset('assets/img/chef.jpg') }}" alt="Card image cap">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-featurette img-fluid mx-auto" src="{{ asset('assets/img/savoir_faire.jpg') }}" alt="Card image cap">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="img-featurette img-fluid mx-auto" src="{{ asset('assets/img/dressage.jpg') }}" alt="Card image cap">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

{% endblock %}
