{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
    <div class="isBest">
        <h2>Nos meilleurs ventes</h2>
        <p>Découvrez les plats les plus apprécié de notre clientèle.</p>
    </div>
    <div class="row" >
    {% for menu in menus %}
        <div class="col-md-3">
            {% include'menu/single_menu.html.twig' %}
        </div>
    {% endfor %}

    </div><!-- /.row -->



    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Le Chef <span class="text-muted">Arnaud Michant</span></h2>
            <p class="lead">aime passionnément les produits et producteurs de la Savoie.
                C’est pourquoi il a décidé d’ouvrir son troisième restaurant dans ce département. Avec plus de 10 ans d'expérience en tant que chef gastronomique,
                je suis passionné par la création de plats uniques qui allient qualité et innovation.
                Je cherche à créer des expériences culinaires qui ravissent les sens et qui servent à offrir des moments mémorables.
                Je mets un point d'honneur à créer des menus variés et à proposer des saveurs uniques et des produits frais.
                Je m'efforce de créer des plats qui sont non seulement délicieux, mais qui sont également équilibrés et nutritifs.
                Je me consacre à ce que je fais avec une passion, une créativité et un enthousiasme qui, je l'espère, se reflète dans chaque assiette que je sers.</p>
        </div>
        <div class="col-md-5">
            <img class="img-featurette img-fluid mx-auto" src="{{ asset('assets/img/chef.jpg') }}" alt="Chef Arnaud Michant">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Expérience gastronomique,<span class="text-muted"> <br> à travers une cuisine sans artifice.</span></h2>
            <p class="lead">Dîner dans notre restaurant Quai Antique est une expérience gastronomique inoubliable.
                Les plats sont délicieux, les portions généreuses. <br>Le service est impeccable et le personnel sera très accueillant.
                La décoration est riche et élégante. Une excellente soirée à n'en pas douter !</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-featurette img-fluid mx-auto" src="{{ asset('assets/img/savoir_faire.jpg') }}" alt="Card image cap">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Les portions sont généreuses <span class="text-muted">et la présentation est magnifique.</span></h2>
            <p class="lead">Servir à table avec élégance, dresser l'assiette avec soin, les aliments bien disposés. Une mise en place soignée pour un repas raffiné.</p>
        </div>
        <div class="col-md-5">
            <img class="img-featurette img-fluid mx-auto" src="{{ asset('assets/img/dressage.jpg') }}" alt="Card image cap">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

{% endblock %}
