{% extends 'base.html.twig' %}

{% block footer %}
<footer>
    <div class="container">
        <div class="row">
        <p>Ouvert toute la semaine, de {{ timeOpenNoon|date('H:i') }} à {{ timeCloseNoon|date('H:i') }} pour le déjeuner</p>
        <p>et de {{ timeOpenEvening|date('H:i') }} à {{ timeCloseEvening|date('H:i') }} pour le diner</p>
        </div>
    </div>
</footer>
{% endblock %}