{% extends 'base.html.twig' %}

{% block footer %}
<footer>
    <div class="container">
        <p>Horaires d'ouverture déjeuner : {{ timeOpenNoon|date('H:i') }}</p>
        <p>Horaires de fermeture déjeuner : {{ timeCloseNoon|date('H:i') }}</p>
        <p>Horaires d'ouverture dîner : {{ timeOpenEvening|date('H:i') }}</p>
        <p>Horaires de fermeture dîner : {{ timeCloseEvening|date('H:i') }}</p>
    </div>
</footer>
{% endblock %}