{% extends 'base.html.twig' %}

{% block content %}
    <h1></h1>

    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>Quai Antique</strong>
            <hr>
            06 06 06 06 06
            416 Av. des Alpes, 73000 Chambéry.</br>
            contact@quaiantique.fr<br/>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        const title = document.querySelector("h1");
        const text = "Inscription";

        function typewriter(text, index) {
            if (index < text.length) {
                setTimeout(() => {
                    title.innerHTML += `<span>${text[index]}</span>`;
                    typewriter(text, index + 1);
                }, 100);
            }
        }

        setTimeout(() => {
            typewriter(text, 0);
        }, 5);
    </script>
{% endblock %}
