{% extends 'base.html.twig' %}

{% block title %}Contact - Quai Antique{% endblock %}

{% block content %}
    <h1>Contact</h1>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>Quai Antique</strong>
            <hr>
            <p>416 Av. des Alpes, 73000 Chambéry.</br>
            contact@quaiantique.fr<br/>
             06 06 06 06 06</br></p>
        </div>
    </div>
{% endblock %}
