{% extends 'base.html.twig' %}

{% block title %}Notre menu - Quai Antique{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>Filtrer</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">

            <h1>Notre menu</h1>

            <div class="row product-container">
                {% for menu in menus %}
                    <div class="col-md-4">
                        {% include'menu/single_menu.html.twig' %}
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
