{% extends 'base.html.twig' %}

{% block title %}Notre menu - Quai Antique{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>Filtrer</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">

            <h1></h1>

            <div class="row product-container">
                {% for menu in menus %}
                    <div class="col-md-4">
                        {% include'menu/single_menu.html.twig' %}
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script>
        const title = document.querySelector("h1");
        const text = "Notre menu";

        function typewriter(text, index) {
            if (index < text.length) {
                setTimeout(() => {
                    title.innerHTML += `<span>${text[index]}</span>`;
                    typewriter(text, index + 1);
                }, 100);
            }
        }
        setTimeout(() => {
            typewriter(text, 0);
        }, 5);
    </script>
{% endblock %}